body {
  min-height: 100vh;
  display: grid;
  grid-template:
    [row1-start] ".            ." 10% [row1-end]
    [row2-start] "synthSeq     drumSeq" 60% [row2-end]
    [row3-start] "globalParams globalParams" 30% [row3-end]
    / 1fr 1fr;
  font-family: Gill Sans, sans-serif;
  background: url(./assets/Desk.jpg) top center repeat;
  font-size: larger;
}

.synth-rack {
  grid-area: synthSeq;
}

.synthSeq {
  align-items: center;
  background-color: silver;
  border: 3px outset rgb(150, 150, 150);
  margin: 1%;
  text-align: center;
  box-shadow: 0 0 5px 3px black;
}

.synthSeq p {
  color: black;
}

.synth-controls {
  color: black;
  display: flex;
  align-items: center;
  padding: 1%;
  border-top: 1px solid black;
  overflow-x: auto;
  scrollbar-width: none;
}

.synth-controls::-webkit-scrollbar {
  width: 0;
}

.synth-controls button {
  position: relative;
  max-height: 25px;
  top: 9px;
  background: linear-gradient(
    to bottom,
    rgb(210, 210, 210) 5%,
    rgb(150, 150, 150) 100%
  );
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.synth-controls button:active {
  top: 10px;
  background: linear-gradient(
    to bottom,
    rgb(150, 150, 150) 5%,
    rgb(210, 210, 210) 100%
  );
}

.seqRowBass {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid black;
  position: relative;
  background-color: rgb(210, 210, 210);
}

.synthParams {
  grid-area: synthParams;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.drum-rack {
  grid-area: drumSeq;
  padding-top: 2%;
}

.drumSeq {
  align-items: center;
  background-color: black;
  border: 3px outset silver;
  margin: 1%;
  text-align: center;
  box-shadow: 0 0 5px 3px black;
  overflow-x: auto;
  scrollbar-width: none;
}

.drumSeq p {
  color: orange;
}

.drum-controls {
  color: orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  border-top: 1px solid silver;
}

.drum-controls button {
  position: relative;
  max-height: 25px;
  background: linear-gradient(to bottom, rgb(130, 130, 130) 5%, black 100%);
  border-radius: 5px;
  border: 1px solid rgb(130, 130, 130);
  cursor: pointer;
  color: orange;
}

.drum-controls button:active {
  top: 1px;
  background: linear-gradient(to bottom, black 5%, rgb(130, 130, 130) 100%);
}

.seqRowDrums {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid silver;
  position: relative;
}

.drumParams {
  grid-area: drumParams;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.controller-rack {
  grid-column: 1 / span 2;
  grid-area: globalParams;
}

.global-controls {
  text-align: center;
  background-color: rgb(0, 76, 112);
  border: 10px outset rgb(60, 10, 0);
  color: whitesmoke;
  padding: 1% 0;
  box-shadow: 0 0 5px 3px black;
}

.global-controls p {
  padding-bottom: 2%;
}

.global-controls button {
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 5px;
  border: 1px solid #4e6096;
  cursor: pointer;
  color: whitesmoke;
  padding: 4px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin: 0 5px;
}

.global-controls button:active {
  position: relative;
  top: 1px;
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}

.global-controls label {
  margin: 1% 0.5%;
}

.playAll {
  min-width: 50px;
}

p {
  color: white;
  margin: 0.5%;
  justify-self: center;
}

label {
  font-size: 80%;
  margin: 0.5%;
}

@media only screen and (max-device-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
  }

  .sequencer {
    overflow-x: auto;
    scrollbar-width: none;
  }

  .seqRowBass p {
    display: none;
  }

  .seqRowDrums p {
    display: none;
  }

  .synth-rack {
    max-width: 500px;
    max-width: 100%;
  }
  .drum-rack {
    max-width: 500px;
    max-width: 100%;
  }
}
